<div class="modal">
<div class="form-container">

    <div class="form-heading">{{title}}
        <span class="close-btn" (click)="closeForm.emit()">
        x
        </span>
    </div>
    <div>

        <form class="event-form" #heroForm="ngForm">
            <label class="field">
                userid
                <input type="text" class="input-field" name="user" [(ngModel)]="userid">
            </label>
            <label class="field">
                Event Name
                <input type="text" class="input-field"  name="eventname" [(ngModel)]="eventName">
            </label>
            <label class="field">
                Event Description
                <input type="text" class="input-field"  name="dasc" [(ngModel)]="eventDescription">
            </label>
            <label class="field">
                Start time
                <input type="number" class="input-field"  name="start" [(ngModel)]="startTime">
            </label>
            <label class="field">
                End time
                <input type="number" class="input-field"  name="end" [(ngModel)]="endTime">
            </label>
        </form>
    </div>

    <div class="submit-btn" (click)="onSubmit()">Submit</div>
</div>
</div>