<div class="modal">
<div class="form-container">

    <div class="form-heading">{{title}}
        <span class="close-btn" (click)="closeForm.emit()">
        x
        </span>
    </div>
    <div>

        <form class="event-form" >
            <label class="field">
                Event Name
                <input type="text" class="input-field" [(ngModel)]="eventName">
            </label>
            <label class="field">
                Event Description
                <input type="text" class="input-field" [(ngModel)]="eventDescription">
            </label>
            <!-- <label>
                Start time
                <input type="text" class="input-field" [(ngModel)]="startTime">
            </label>
            <label>
                End time
                <input type="text" class="input-field" [(ngModel)]="endTime">
            </label> -->
        </form>
    </div>

    <div class="submit-btn" (click)="onSubmit()">Submit</div>
</div>
</div>