.invite-btn {
    width: 100px;
    // height: 50px;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: lightcoral;
}
* {
    color: black;
    font-size: 14px;
}

.project-container {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}